__pycache__/
.ipynb_checkpoints/
cuda/
openwebtext/
.train_split.txt
openwebtextDATA/*.txt
*.pth
openwebtextDATA/spm_model.model
openwebtextDATA/spm_model.vocab
index.html
test.py
index.html
server.py
mode.py